# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Allure
allure-results/
allure-report/

# Screenshots
screenshots/

# Secrets
config/api_config.yaml

# OS
.DS_Store
Thumbs.db